.controller--container {
    padding: 20px;
    width: 40vw;
}

.card--info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--info--list {
    padding: 0px;
    width: 50%;
}

.card--info--list--item {
    margin: 5px 0px;
    display: flex;
    list-style: none;
    font-size: 12px;
    justify-content: space-between;
}

.card--info--list--item p {
    margin: 0px;
    padding: 0px;
}

.card--notification {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.585);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--notification div {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.off {
    width: 15px;
    height: 15px;
    background-color: var(--status--off--color);
    margin: 0px 10px;
}

.on {
    width: 15px;
    height: 15px;
    background-color: var(--status--on--color);
    margin: 0px 10px;
}

.controllers--buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--gray--color);
    padding: 10px 5px;
}

.controllers--buttons h5 {
    margin: 5px 0px;
}


.controllers--buttons button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 0px;
    box-shadow: inset 0px 0px 10px gray;
    margin: 5px;
    z-index: -1;
}




.loader-circle-93 svg {
    height: 60px;
    width: 60px;
    transform: rotate(-90deg);
    z-index: 0;
}

.loader-circle-93 circle {
    background-color: white;
    stroke-dasharray: 190;
    stroke-dashoffset: 0;
    stroke: green;
    animation-fill-mode: backwards;
    z-index: 0;
}

/* Off */
.off {
    animation: off 1s 1;
}

@keyframes off {
    0% {
        stroke: transparent;
        stroke-dashoffset: 190;
    }

    100% {
        stroke-dashoffset: 0;
        stroke: red;
    }
}
