@import './base.css';
.header {
    width: 100vw;
    height: 50px;
    background-color: var(--black-background);
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header--home {
    height: 100%;
    padding: 0px 10px;
    background-color: var(--white-background);
    line-height: 50px;
}

.header--home a {
    color: var(--text-color-dark);
    text-decoration: none;
}

.header--logo {
    margin-left: 0px;
}

.menu--operador {
    display: flex;
    line-height: 50px;
    vertical-align: center;
}

.operador--icon {
    margin: auto 10px;
}

.header--local {
    color: var(--text-color-light);
}

.menu--text {
    color: var(--text-color-light);
    margin: 0px 10px;
}

.menu--button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
}
