@import './base.css';

.searchTicket--searchBar {
    width: 20vw;
    background-color: var(--gray-background);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.searchTicket--searchButton {
    background-color: var(--primary--color);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.searchTicket--clearButton {
    background-color: var(--secondary--color);
    border-radius: 5px;
    border: none;
    padding: 10px;
}